/* =====================================================
   UMBC THEME GLOBAL COLORS
   ===================================================== */
:root {
  --umbc-gold: #fdb515;
  --umbc-black: #000000;
  --border-light: #dcdcdc;
  --umbc-white: #ffffff;
  --gray-bg: #cccccc;
  --umbc-dark-gray: #303030;
}

/* wrapper for entire registration page */
.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/background.png");
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Inter-bold", Helvetica, sans-serif;
}

.user-info-wrapper {
  max-width: 480px;
  margin: 60px auto;
  padding: 30px;
  background: var(--umbc-white);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.main-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: var(--umbc-black);
  padding-bottom: 10px;
}

.main-subtitle {
  text-align: center;
  color: #494949;
  margin-bottom: 25px;
}

.user-info-form {
  display: flex;
  flex-direction: column;
}

.user-info-form label {
  font-weight: bold;
  margin-top: 12px;
  color: var(--umbc-black)
}

.user-info-form input,
.user-info-form select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

.umbc-gold-button {
  background-color: var(--umbc-gold);
  color: var(--umbc-black);
  padding: 12px;
  margin-top: 25px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

/* gets a little darker when hovered over */
.umbc-gold-button:hover {
  background-color: #ecaa14;
}

.error-text {
  margin-top: 10px;
  color: red;
  font-size: 14px;
  text-align: center;
}