/* =====================================================
   UMBC THEME GLOBAL COLORS
   ===================================================== */
:root {
  --umbc-gold: #fdb515;
  --umbc-black: #000000;
  --border-light: #dcdcdc;
  --umbc-white: #ffffff;
  --gray-bg: #cccccc;
  --umbc-dark-gray: #303030;
}

/* removes padding globally between header and top of page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* full screen container */
.admin-shell {
  min-height: 100%;
  width: 100%;
  background: var(--umbc-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* =====================================================
   Label/Header
   ===================================================== */

.header-img {
  width: 100%;
  height: 100px;
  display: block;
  object-fit: cover;
}

.label {
  display: flex;
  height: 40px;
  bottom: 65px;
  position: relative;
}

.label-text {
  color: var(--umbc-gold);
  font-family: "Inter-Bold", Helvetica, sans-serif;
  font-size: 36px;
  margin: 0;
  white-space: nowrap;
}